{% extends "::base.html.twig" %}

{% block title %}{{ employee.firstName ~ " " ~ employee.lastName}} | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets
            'assets/css/employee/detail.css'
            'assets/css/employee/employee.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header></header>
    <a href="{{ path('search') }}" class="fab arrow-back bg-white">
        <i class="material-icons color-black">arrow_back</i>
    </a>
    <main>
        <article>
            <section class="employee-info">
                <i class="material-icons profile_picture">person</i>
                <h1 class="name">{{ employee.firstName ~ " " ~ employee.lastName }}</h1>
                <span class="position">
                    {% for role in roles %}
                        {{ role.description }} <br />
                    {% endfor %}
                </span>
                <a href="mailto:{{  employee.email }}" class="email">{{  employee.email }}</a>
                <a href="tel:123456789" class="tel">{{  employee.phone }}</a>
                <a href="#" class="web">{{  employee.web }}</a>
                <p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur architecto voluptatibus adipisci distinctio dolores explicabo. Reprehenderit ea maiores nemo non ullam, quo vero nam dolorem. Atque, illum excepturi dolores corrupti dignissimos eligendi reprehenderit veritatis est accusamus quis voluptate praesentium unde impedit fugit sit consequatur quasi fuga facilis sunt eius quo accusantium vero harum? Eum veniam provident alias at fuga unde sint dicta eaque odit temporibus! Fugit, labore possimus. Unde inventore laudantium quaerat nam libero quidem assumenda, consectetur quasi! Accusantium debitis illum cum provident, sed atque impedit nulla quod modi cupiditate numquam. Ab aliquid, cum voluptatibus eos repellat officia earum?
                </p>
                {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('employee-update', {'employee_id': employee.id}) }}" class="btn edit">
                        <i class="material-icons">edit</i>
                        Edit employee
                    </a>
                {% endif %}
            </section>

            {% if is_granted('ROLE_ADMIN')%}
                <section class="accounts">
                    <h1>{{ employee.firstName ~ " " ~ employee.lastName }}'s Accounts</h1>
                    {% if accounts is empty %}
                        <tr>
                            <td>This employee has no accounts yet!</td>
                        </tr>
                    {% else %}
                        <table>
                            <tr>
                                <th>Username</th>
                                <th>Valid To</th>
                                <th></th>
                            </tr>
                            {% for account in accounts %}
                                <tr>
                                    <td>{{ account.username }}</td>
                                    <td>{{ account.validTo | date("d.m.Y") }}</td>
                                    <td>
                                        <a href="{{ path('account-update', {'employee_id': employee.id, 'account_id': account.id}) }}" class="action-btn">
                                            <i class="material-icons color-grey-800">edit</i>
                                        </a>
                                        <a href="{{ path('account-delete', {'employee_id': employee.id, 'account_id': account.id}) }}" class="action-btn">
                                            <i class="material-icons color-red-500">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <a href="{{ path('account-create', {'employee_id': employee.id}) }}" class="btn create-account bg-green-500">
                        <i class="material-icons color-white">add</i>
                        Create account
                    </a>
                </section>
            {% endif %}
        </article>
    </main>
{% endblock %}
