{% extends "::base.html.twig" %}

{% block title %}Search results: ## | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/css/search.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header>
        <h1>Showing all employees</h1>
    </header>

    <main>
        {% for employee in employees %}
        <article onclick="location.href='{{ path('detail', {'employee_id': loop.index-1}) }}';">
            <img src="{{ asset('bundles/app/img/ic_person_black_24px.svg') }}" alt="Profile picture" class="thumbnail">
            <span class="name">{{ employee.firstName ~ " " ~ employee.lastName}}</span>
            <span class="position">{{ employee.position }}</span>
            <span class="email">{{ employee.email }}</span>
            <button class="btn edit" onclick="location.href='{{ path('edit', {'employee_id': loop.index-1}) }}';" disabled>Edit user</button>
        </article>
        {% endfor %}
    </main>
{% endblock %}
