<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets
        'assets/css/main.css'
        'assets/css/form.css'
        'assets/css/material-colors.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav>
    <div>
        <a href="{{ path('homepage') }}">
            <i class="material-icons">home</i>
        </a>
        <a href="{{ path('search') }}">
            <i class="material-icons">list</i>
        </a>
    </div>

    <form class="search nav-search">
        <input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar" disabled>
        <input type="button" class="btn" value="Search" disabled>
    </form>

    <div class="login-logout-user">
        {% if app.user %}
            <a href="{{ path('employee-detail', {'employee_id':  employee_by_account_id.get(app.user.id).getId}) }}" class="user-nav">
<i class="material-icons">person</i>
{{ employee_by_account_id.get(app.user.id).getFirstName }}
</a>
<a href="{{ path('logout') }}">Logout</a>
{% else %}
    <a href="{{ path('login') }}">Login</a>
{% endif %}
</div>

</nav>

{% block body %}{% endblock %}

<footer>
    Tomas Trejdl | trejdtom | FIT CVUT | 2017
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
