<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets 'bundles/app/css/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('bundles/app/img/ic_home_black_24px.svg') }}" alt="Home" width="24px" height="24px">
            </a>
            <form class="search nav-search">
                <input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar" disabled>
                <input type="button" class="btn" value="Search" disabled>
            </form>

            <span class="user-nav">
                <img src="{{ asset('bundles/app/img/ic_person_black_24px.svg') }}" alt="Profile picture" class="thumbnail">
                John Doe
            </span>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            Tomas Trejdl | trejdtom | FIT CVUT | 2017
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
