{% extends "::base.html.twig" %}

{% block title %} Accounts | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets
            'assets/css/my-accounts/list.css'
    'assets/css/my-accounts/my-accounts.css'
        filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header>
        <h1>{{ employee.firstName ~ " " ~ employee.lastName}}'s Accounts</h1>
    </header>

    <main>
        <article>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Valid To</th>
                    <th></th>
                </tr>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>{{ account.validTo | date("d.m.Y") }}</td>
                    <td>
                        <a href="{{ path('my-accounts-edit', {'employee_id': employee.id, 'account_id': account.id}) }}" class="action-btn">
                            <i class="material-icons color-grey-800">edit</i>
                        </a>
                        <a href="{{ path('my-accounts-delete', {'employee_id': employee.id, 'account_id': account.id}) }}" class="action-btn">
                            <i class="material-icons color-red-500">delete</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </article>
    </main>
    <a href="{{ path('my-accounts-create') }}" class="create-employee fab fab-bottom-right bg-green-500">
        <i class="material-icons color-white">add</i>
    </a>
{% endblock %}
